  <footer id="footer">
      <div class="footer-sec">
          <div class="icons">
              <a class="icon-link" href="https://instagram.com/_mr_r.o.b.o.t?utm_medium=copy_link"><i class="fa-brands fa-instagram insta"></i></a>
              <i class="fa-brands fa-facebook fb"></i>
              <a class="icon-link" href="https://wa.me/qr/7ETPXVC5T7KMP1"><i class="fa-brands fa-whatsapp whatsapp"></i></a>
          </div>
          <div class="copy-right">
              <p>@Copyright 2022 Shameem</p>
          </div>
      </div>
  </footer>

</body>

</html>